<form [formGroup]="createUserForm" (ngSubmit)="userCreateFormSubmission()" class="align-center">

  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input type="text" placeholder="Enter name" formControlName="name"></ion-input>
    <span *ngIf="formInputIsRequired('name')" class="required">&#42;</span>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">User name</ion-label>
    <ion-input type="text" placeholder="Enter user name" formControlName="username"></ion-input>
    <span *ngIf="formInputIsRequired('username')" class="required">&#42;</span>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" placeholder="Enter email" formControlName="email"></ion-input>
    <span *ngIf="formInputIsRequired('email')" class="required">&#42;</span>
  </ion-item>

  <ion-button type="submit" [disabled]="!createUserForm.valid" >Create</ion-button>

</form>