<app-no-data *ngIf="noUser; else usersData" [title]="title"></app-no-data>

<ng-template #usersData>
  <ion-list>

    <ion-item>
      <ion-label><strong>List of user</strong></ion-label>
      <ion-label>
        <ion-button routerLink="/users/create">+ Add User</ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-label>User Name</ion-label>
      <ion-label>Email</ion-label>
    </ion-item>

    <ion-item *ngFor="let user of users" [routerLink]="['/users', user.username]">
      <ion-label>{{user.name}}</ion-label>
      <ion-label> {{user.username}} </ion-label>
      <ion-label> {{user.email}}</ion-label>
    </ion-item>

  </ion-list>
</ng-template>