<ion-item *ngIf="user$ | async as user">
  <ion-label><strong>User Details</strong></ion-label>
  <ion-label>
    <ion-icon name="create-outline" [routerLink]="['/users/edit', user.username]"></ion-icon>
  </ion-label>
  <ion-label>
    <ion-icon name="trash-outline" (click)="alertConfirmationWindow(user.username)"></ion-icon>
  </ion-label>

</ion-item>

<ion-card *ngIf="user$ | async as user">
  <ion-card-header>
    <ion-card-title>{{user.name}}</ion-card-title>
    <ion-card-subtitle>{{user.username}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{user.email}}
  </ion-card-content>
</ion-card>